.navbar{
    height: 55px;
    background-color: black;
    
    display: flex;
    align-items: center ;
    justify-content: space-between;
    a{ 
        color: #888686;
    }
    a :hover{
        color: white;
    }
    
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 60px;
    width: 120px;
}
.logo img{
    margin-top: 6px;
    height: 35px;
    width: 120px;
}
#kids{
    margin-top: 0px;
    margin-bottom: 6px;margin-right: 20px;
}
.nabright{
    
        
        display: flex;
        align-items: center;
        margin-right: 20px;
        li img {
            height: 35px;
            width: 35px;
        }
    
        li a {
          color: white;
          display: inline-block;
          font-size: 14px;
          font-weight: normal;
          letter-spacing: 0.8px;
          text-transform: uppercase;
          
    
          > mat-icon {
            
            margin-top: 5px;
            margin-left: 15px;
            
          }
          
          
        }
        li a :focus {
            
          border: none;

        }
      
}
.navleft{
    position: absolute;
    margin-left: 240px;

}


ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
  
    a {
      display: inline-block;
      width: fit-content;
      text-decoration: none;
      cursor: pointer;
      color: #a4a4a4;
      font-size: 14px;
      font-weight: 600;
      font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      transition: all 0.2s ease;
  
      &:hover {
        color: #696969;
      }
    }
  }