<div class="container">



  <div class="header">

    <div class="header__baner">
      <h2>{{trending?.results[0].title}}</h2>
      <div class="header__buttons" 
      
      [ngStyle]="{
        
        'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      
      }" 
      
      >

        <button class="paly_button">
          <mat-icon>arrow_right</mat-icon>
          <span>play</span>
        </button>

        <button class="more__button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>

      </div>
    </div>
    <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader >
      <div class="header__left">
        <a href="https://fontmeme.com/netflix-font/">
          <img src="https://fontmeme.com/permalink/201210/2fefd85d65936456ca7740f4e60cbcf0.png" alt="netflix-font" border="0">
        </a>
        <ul>
          <li><a href="#"></a>Home</li>
          <li><a href="#">TV Show</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Lastest</a></li>
          <li><a href="#">My List</a></li>
        </ul>


      </div>
      <div class="header__right">
        <ul>
          <li><a href="#"><mat-icon>search</mat-icon></a></li>
          <li><a href="#">children</a></li>
          <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
          <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
          <li>
            <img class="imag__avatar" src="https://i.pinimg.com/originals/0d/dc/ca/0ddccae723d85a703b798a5e682c23c1.png" alt="logo">
          </li>
        </ul>

      </div>

    </div>

</div>
<div class="body" style="margin-top: 30rem;">
  <app-slider title="Trending" [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
  <app-slider title="Top Rated" [movies]="toprated" [sliderConfig]="sliderConfig"></app-slider>
  <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
  <app-slider title="Originals" [movies]="original" [sliderConfig]="sliderConfig"></app-slider>
  <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>

</div>



</div>